body{
margin: 0;
padding: o;
background-color: #fff;
font-family: sans-serif;
}
.box{
position: absolute;
top: 30%;
left: 10%;
transform: translate(-50%, -50%);
}
input.src{
padding: 10px 11px 10px 33px;
outline: none;
font-size: 18px;
border-radius: 25px;
color: #444;
border: 3px solid #a50559
background: #fff url("search-icon.png") no-repeat 9px center;
width: 130px;
transition: all .5s;
}
input.src:hover{
width: 250px;
background-color: #fff;
border-color: #8c10b3;
box-shadow: 0 0 5px #6dcff680;
}